/* Theme colors:
White - #fefdff
Light blue - #8eb1c7
Dark blue - #094074
Yellow - #ffbc42
Orange - #fe9000
 */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
body {
    font-family: 'League Spartan', sans-serif !important;
}
h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    font-family: 'League Spartan', sans-serif !important;
}

/* Change the background color of the navbar */
.navbar {
    background-color: #094074 !important; /* Dark blue */
    color: #fefdff !important; /* White */
}

h2 {
    color: #094074 !important; /* Dark blue */
    font-weight: bold !important;
}

 /* Change background colors for the 3 feature boxes */
section .row > div:nth-child(1) .p-4 {
    background-color: #094074 !important; /* 'Quick & Easy' */
    color: #fefdff !important;
}

section .row > div:nth-child(2) .p-4 {
    background-color: #8eb1c7 !important; /* 'Accurate' */
    color: #fefdff !important;
}

section .row > div:nth-child(3) .p-4 {
    background-color: #fe9000 !important; /* 'Non-Invasive' */
    color: #fefdff !important;
}

/* Style the "Get Started" button */
.text-center.mt-4 .btn.btn-primary {
    background-color: #ffbc42 !important;
    color: #094074 !important;
    border: none !important;
    transition: background-color 0.3s ease;
}

/* Style other buttons */
.btn-primary.d-block {
    background-color: #fe9000 !important;
    color: #094074 !important;
    border: none !important;
    transition: background-color 0.3s ease;
}
